<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => 'reload' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => 'reload' %>
  
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    
    <span class="title"><%= @page_title %></span>
  </div>
  <div id="columns">
    <div id="side">
      <div id="cart" <% if @cart.line_items.empty? %> style="display: none" <% end %> >
        <% if @cart %>
          <!--把cart的partial view印出來-->
          <%= render @cart %>
        <% end %>
      </div>
      <ul>
        <li><a href="/products">產品管理</a></li>
        <li><a href="/store/index">購物車</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
  
</body>
</html>